@using MvcMovie.Models
@model List<PayrollDTO>

<h2>Payroll Data</h2>
<a href="/Payroll/Add" class="btn btn-primary">Add Payroll</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Level</th>
            <th>Date</th>
            <th>Tap In</th>
            <th>Tap Out</th>
            <th>Total Hours</th>
            <th>Total Salary</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var payroll in Model ?? new List<PayrollDTO>())
        {
            <tr>
                <td>@payroll.Id</td>
                <td>@payroll.Name</td>
                <td>@payroll.Level</td>
                <td>@payroll.Date.ToString("yyyy-MM-dd")</td>
                <td>@payroll.TapIn.ToString(@"hh\:mm")</td>
                <td>@payroll.TapOut.ToString(@"hh\:mm")</td>
                <td>
                    @(payroll.TotalHours > 0 ? 
                        $"{(int)payroll.TotalHours} h {((payroll.TotalHours - (int)payroll.TotalHours) * 60):0}m" 
                        : "-")
                </td>
                <td>@payroll.TotalSalary.ToString("C", new System.Globalization.CultureInfo("id-ID"))</td>
            </tr>
        }
    </tbody>
</table>

<h2>Total Salary per User</h2>

@{
    var groupedPayrolls = ViewBag.GroupedPayrolls as IDictionary<string, IEnumerable<PayrollDTO>>;
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Total Salary (IDR)</th>
        </tr>
    </thead>
    <tbody>
        @if (groupedPayrolls != null)
        {
            foreach (var item in groupedPayrolls)
            {
                <tr>
                    <td>@item.Key</td> <!-- Nama User -->
                    <td>@item.Value.Sum(p => p.TotalSalary).ToString("C", new System.Globalization.CultureInfo("id-ID"))</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="2">No payroll data available.</td>
            </tr>
        }
        
    </tbody>
</table>
